<!-- photo show -->

<div class="row col-xs-12" id="header">
  <div class="col-xs-8">
    <a href="/trips/" title="Return Home">
      <h1>Close Up!</h1>
    </a>
  </div>

  <ul>
    <li>
      <div class="svgHover col-xs-4">
        <a href="mailto:timberg.1@osu.edu" title="Email Me!" target="_blank">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 15.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="50px" height="50px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
            <g>
              <polygon points="155.2,436.4 155.2,845.8 438.4,626.4 	"/>
              <polygon points="176.6,860.2 847.4,860.2 512,600.6 	"/>

              <path id="email" d="M819.2,0H204.8C92.2,0,0,92.2,0,204.8v614.4C0,931.8,92.2,1024,204.8,1024h614.4c112.6,0,204.8-92.2,204.8-204.8V204.8
              C1024,92.2,931.8,0,819.2,0z M896,883.4H128v-456l384-286.8l384,286.6V883.4z"/>

              <path d="M405.8,345.2c-11.399,20.8-17,43-17,66.8c0,21.8,5,42,14.8,60.6c10,18.4,25.2,32.4,45.601,42
              c20.399,9.4,44.6,14.2,72.8,14.2c29,0,53.6-5.6,73.8-16.8c17.601-10,30.601-23.4,39.2-40.6h-27c-9,11.399-20.8,19.8-35.4,25.399
              c-14.6,5.8-32.199,8.4-52.6,8.4c-21,0-39.8-3.4-56.2-10c-16.399-6.8-29-17.601-38.2-32.4c-9-14.6-13.6-31-13.6-49
              c0-18.4,4-36.4,12.2-53.2c8.2-17.2,20.399-30.4,36.399-39.8c16-9.6,35.601-14.2,58.801-14.2c27.199,0,48.399,7.2,63.6,21
              c15.2,14.2,22.6,31.8,22.6,52.6c0,11.6-2.6,23-8,33.8c-5.399,10.8-12.399,19.6-21,26c-6.399,5-11.6,7.4-15.8,7.4
              c-1.399,0-2.6-0.4-3.399-1.601c-1-1.2-1.4-2.6-1.4-4.8c0-1.6,0.6-5.4,1.8-11.2l19.4-91.6h-33.8l-3.2,14.2
              C533,340.8,521.8,335,506.6,335c-21.199,0-38.6,10.2-52.399,30.2c-11.2,16.4-16.8,34.6-16.8,54.8c0,16,4.8,29,14,39
              c9.199,9.6,21,14.6,35.199,14.6c13.2,0,24.801-4.8,34.801-14.6c1.199,4.8,3.6,8.4,7.199,10.8c3.601,2.601,8.801,3.8,16,3.8
              c26.2,0,47.601-11.199,64.601-33.199c13.399-17.601,20-37.2,20-59c0-18.2-4.4-35-13.2-50.4s-21.6-27.2-38.2-35.6
              C561,287.2,542,283,520.6,283c-25.399,0-47.8,5.2-67.399,15.6C432.6,309,417.2,324.6,405.8,345.2z M527.8,416
              c-3.2,10-7.2,17.6-11.6,22.8c-3.2,3.601-6.4,6.4-9.601,8c-4.199,2.4-8.8,3.601-13.6,3.601c-6.4,0-11.8-2.601-16.4-7.801
              c-4.399-5-6.6-13-6.6-23.8c0-8,1.6-17.399,4.8-27.8c3.2-10.6,7.8-18.4,14-24.2c6.2-5.8,13-8.6,20.2-8.6c6.8,0,12.4,2.6,17,7.8
              c4.6,5,6.8,12.4,6.8,22C532.6,396.8,531,406,527.8,416z"/>

              <polygon points="869,845.8 869,436.4 585.6,626.4 	"/>
            </g>
          </svg>
        </a>
      </div>
    </li>

    <li>
      <div class="svgHover col-xs-4">
        <a href="https://github.com/michaeltimberg" title="My GitHub" target="_blank">
          <?xml version="1.0" encoding="iso-8859-1"?>
          <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="50px" height="50px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

          <g>
            <path id="github" d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M408.027,408.027
            c-19.76,19.759-42.756,35.267-68.354,46.094c-6.502,2.75-13.105,5.164-19.801,7.246V423c0-20.167-6.916-35-20.75-44.5
            c8.668-0.833,16.625-2,23.875-3.5s14.918-3.667,23-6.5c8.084-2.833,15.334-6.208,21.75-10.125c6.418-3.917,12.584-9,18.5-15.25
            c5.918-6.25,10.875-13.333,14.875-21.25s7.168-17.417,9.5-28.5c2.334-11.083,3.5-23.292,3.5-36.625c0-25.833-8.416-47.833-25.25-66
            c7.668-20,6.834-41.75-2.5-65.25l-6.25-0.75c-4.332-0.5-12.125,1.333-23.375,5.5s-23.875,11-37.875,20.5
            c-19.832-5.5-40.416-8.25-61.749-8.25c-21.5,0-42,2.75-61.5,8.25c-8.833-6-17.208-10.958-25.125-14.875s-14.25-6.583-19-8
            s-9.167-2.292-13.25-2.625s-6.708-0.417-7.875-0.25s-2,0.333-2.5,0.5c-9.333,23.667-10.167,45.417-2.5,65.25
            c-16.833,18.167-25.25,40.167-25.25,66c0,13.333,1.167,25.542,3.5,36.625s5.5,20.583,9.5,28.5s8.958,15,14.875,21.25
            s12.083,11.333,18.5,15.25s13.667,7.292,21.75,10.125s15.75,5,23,6.5s15.208,2.667,23.875,3.5c-13.667,9.333-20.5,24.167-20.5,44.5
            v39.115c-7.549-2.247-14.99-4.902-22.3-7.994c-25.597-10.827-48.594-26.335-68.353-46.094
            c-19.758-19.758-35.267-42.756-46.093-68.354C46.679,313.195,41,285.043,41,256s5.679-57.195,16.879-83.675
            c10.827-25.597,26.335-48.594,46.093-68.353c19.758-19.759,42.756-35.267,68.353-46.093C198.805,46.679,226.957,41,256,41
            s57.195,5.679,83.676,16.879c25.598,10.827,48.594,26.335,68.354,46.093c19.758,19.758,35.266,42.756,46.092,68.353
            C465.32,198.805,471,226.957,471,256s-5.68,57.195-16.879,83.675C443.295,365.271,427.785,388.27,408.027,408.027z"/>
          </g>

          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </a>
      </div>
    </li>

    <li>
      <div class="svgHover col-xs-4" id="lIH">
        <a href="https://www.linkedin.com/in/michaeltimberg" title="My LinkedIn" target="_blank">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 16.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="68px" height="68px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; fill: #8CF8FA; stroke: #8CF8FA; right: -18%; top: -18%" xml:space="preserve">
            <g>
              <path id="linkedin" d="M417.2,64H96.8C79.3,64,64,76.6,64,93.9v321.1c0,17.4,15.3,32.9,32.8,32.9h320.3c17.6,0,30.8-15.6,30.8-32.9V93.9
              C448,76.6,434.7,64,417.2,64z M183,384h-55V213h55V384z M157.4,187H157c-17.6,0-29-13.1-29-29.5c0-16.7,11.7-29.5,29.7-29.5
              c18,0,29,12.7,29.4,29.5C187.1,173.9,175.7,187,157.4,187z M384,384h-55v-93.5c0-22.4-8-37.7-27.9-37.7
              c-15.2,0-24.2,10.3-28.2,20.3c-1.5,3.6-1.9,8.5-1.9,13.5V384h-55V213h55v23.8c8-11.4,20.5-27.8,49.6-27.8
              c36.1,0,63.4,23.8,63.4,75.1V384z"/>
            </g>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</div>

<div class="photo">
  <div class="jumbotron">
    <%= image_tag @photo.image %>
  </div>

  <div class="container">
    <h1><strong><%= @photo.name %></strong></h1>

    <%= link_to "Edit", edit_photo_path(@photo) %>
    <%= link_to "Back", trip_path(@photo.trip.id) %>
  </div>
</div>

<div class="copy">
  <div class="col-xs-5">
  </div>

  <div class="col-xs-2">
    <p><strong id="copy">&copy </strong>Timberg, Michael C. 2016</p>
  </div>

  <div class="col-xs-5">
  </div>
</div>
